{
  "FIREBASE_VAPID_KEY": "",
  "FIREBASE_API_KEY_WEB": "",
  "FIREBASE_APPID_WEB": "",
  "FIREBASE_API_KEY_ANDROID": "",
  "FIREBASE_APPID_ANDROID": "",
  "FIREBASE_API_KEY_IOS": "",
  "FIREBASE_APPID_IOS": "",
  "FIREBASE_BUNDLE_ID_IOS": "",
  "FIREBASE_API_KEY_MACOS": "",
  "FIREBASE_APPID_MACOS": "",
  "FIREBASE_BUNDLE_ID_MACOS": "",
  "FIREBASE_API_KEY_WINDOWS": "",
  "FIREBASE_APPID_WINDOWS": "",
  "FIREBASE_API_KEY_LINUX": "",
  "FIREBASE_APPID_LINUX": "",
  "FIREBASE_MESSAGING_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_AUTH_DOMAIN": "",
  "FIREBASE_STORAGE_BUCKET": ""
}
